.card {
  width: 284px;
  height: 284px;
  contain: content;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;


  .cardBody {
    height: 180px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 16px;
    }
  
    h2 {
      margin: 8px;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  

  .cardFooter {
    background-color: rgb(121, 106, 255);
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    font-size: 14px;
    text-align: center;
    p {
      margin: 6px;
      font-weight: 300;
    }
  }
}