.home {
  .sideImage {
    width: 50%;
    height: 620px;
    background: url('/static/laughing-women.jpg');
    background-repeat:  no-repeat;
    background-position: left top;
    background-size: cover;
    background-color: red;
  }
}