@import '~@material/button/mdc-button.scss';

@font-face {
	font-family: "helvetica";
	src: url("./assets/fonts/HelveticaNeueMed.ttf") format("truetype")
}

@font-face {
	font-family: "helvetica-bold";
	src: url("./assets/fonts/HelveticaNeuBold.ttf") format("truetype")
}

body {
  margin: 0px;
  font-family: 'helvetica', 'Roboto', Roboto;
}

